{% extends "layoutGeneral.html.twig" %}

{% block titre %}
	<br/><br/><br/>
	<p ><img class="circle responsive-img center-align" width="200" height="200" style="display:block; margin:auto;" src="images/photo.jpg"/></p>
	 <h2 class="center-align">Qui suis-je ?</h2>
{% endblock %}
