{% extends "layoutGeneral.html.twig" %}

{% block titre %}
	<br/><br/>
	<div class="col-lg-8 mx-auto">
		<h3 class="center-align">Mes compétences</h3>
		<p style="overflow: visible" class="center-align">Durant mes quatre années d'études en informatique, j'ai pu acquérir de nombreuses <br/> compétences dans ce domaine.</p>
		<br/>
		
		<h4 class="center-align"><img src="images/programmation.png" width="50" height="35"/> Programmation</h4>
		<p class="center-align">C#, Java, C, XML, JSON, Scripts shell</p>

		<h4 class="center-align"><img src="images/web.webp" width="50" height="40"/> Web</h4>
		<p class="center-align"> HTML, CSS, PHP, JavaScript</p>

		<h4 class="center-align"><img src="images/database.webp" width="50" height="40"/> Base de données</h4>
		<p class="center-align"> MySql</p>

		<h4 class="center-align"><img src="images/framework.png" width="50" height="40"/> Frameworks/Librairies</h4>
		<p class="center-align">  Symfony, Java Swing, Jersey, ASP.NET Core(web,C#), jUnit</p>

		<h4 class="center-align"><img src="images/ide.png" width="50" height="40"/> IDEs</h4>
		<p class="center-align"> Android Studio, Eclipse, Visual studio</p>

		<h4 class="center-align"><img src="images/outils.png" width="50" height="40"/> Outils de programmation</h4>
		<p class="center-align"> CheckStyle(java), Maven, svn</p>
		<br/>
	</div>
{% endblock %}
